header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: #160ea9;
    top: 0;
    z-index: 1000;
}

*{
    font-family: sans-serif;
}

.logo-text {
    text-decoration: none;
    color: white;
    padding: 30px;
    border-radius: 20px;
    transition: background-color 0.2s;
}

.logo-text :hover {
    background-color: #0e079b;
}

.nav-droite a{
    text-decoration: none;
    color: white;
    padding: 30px;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.nav-droite a:hover {
    background-color: #0e079b;
}