header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: #160ea9;
    top: 0;
    z-index: 1000;
}

*{
    font-family: sans-serif;
}

.logo-text {
    text-decoration: none;
    color: white;
    padding: 30px;
    border-radius: 20px;
    transition: background-color 0.2s;
}

.logo-text :hover {
    background-color: #0e079b;
}

.btn-rdv {
    background-color: #D4AC0D;
    color: #001F4D !important;
    font-weight: bold;
    border-radius: 50px !important;
    padding: 8px 16px !important;
}

.nav-droite a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.nav-droite a:hover {
    background-color: #0e079b;
    color: white !important;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        gap: 0.5rem;
    }

    .nav-droite {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.3rem;
        padding-bottom: 0.5rem;
    }

    .nav-droite a {
        font-size: 0.85rem;
        padding: 6px 8px;
    }
}