body {
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}

.backimage {
    background-image: url(../img/background1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100vw;
    height: 300px;
}