.fonctionne {
    background-color: #5047ff;
}

.fonctionne .texte,
.offres .texte {
    color: white;
    padding: 15px;
}

.mini-texte {
    margin-left: 1.5rem;
}

.zone {
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 8px 22px rgba(0, 0, 0, 0.12);
    background-color: rgb(103, 103, 233);
}

.conteneur-zone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    padding: 2rem;
}
